.songCard-body{
    width: 100%;
    height: 62%;
    background-color: #273540;
    border-radius: 30px;
    border-bottom-right-radius: 0% ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}